{% extends 'base.html' %}

{% block content %}

<div class="container">
    <table class="table table-striped" style="font-size:12px">
        <p>실거래가-팔도</p>
        <thead>
        <tr>
            <th>광역시도</th>
            <th>시자치구</th>
            <th>법정동</th>
            <th>아파트</th>
            <th>전용면적</th>
            <th>전용</th>
            <th>건축년도</th>
            <th>거래금액</th>
            <th>층</th>
            <th>거래유형</th>
            <th>기준월</th>
        </tr>
        </br>
        </thead>
        <tbody>
        {% for value in result %}
        <tr>
            <td> {{ value.광역시도 }}</td>
            <td> {{ value.시자치구 }}</td>
            <td> {{ value.법정동 }}</td>
            <td> {{ value.아파트 }}</td>
            <td> {{ value.전용면적 }}</td>
            <td> {{ value.전용 }}</td>
            <td> {{ value.건축년도 }}</td>
            <td> {{ value.거래금액 }}</td>
            <td> {{ value.층 }}</td>
            <td> {{ value.거래유형 }}</td>
            <td> {{ value.기준월 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
